.serverless/*
**/node_modules/**
client/build/*
**/.packages/*
**/.webpack/*
**/.esbuild/*
.env
/**/.env
*-error.*
package-lock.json
.DS_Store
.DS_Store?
**/build/**
.bash_history
# don't check storage creds into GH
.cache
*.code-workspace
# .ssh dir may contain private keys
.ssh
terraform/.terrascan

terraform/.terraform
terraform/.terraformrc
terraform/**/.terraform/*
terraform/.terraform.d
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.vscode
terraform/.idea
terraform/.idea

terraform/init-cfg.txt
terraform/temp
terraform/terraform.rc
terraform/temp

terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/*.auto.tfvars
terraform/*.auto.tfvars.json
